:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Cinzel', serif;
    --font-tertiary: 'Cinzel Decorative', cursive;
    --color-primary: #111;
    --color-secondary: #eee;
    --color-tertiary: #e60808;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 17px;
    display: grid;
    grid-template-columns: 500px auto;
}

ul {
    list-style-type: none;
}

#display {
    max-width: 750px;
}

h1, h5 {
    font-family: var(--font-secondary);
    text-align: center;
}

h2 {
    font-family: var(--font-tertiary);
    text-align: center;
    color: var(--color-tertiary);
}

.paragraph:first-of-type::first-letter {
    color: var(--color-tertiary);
    font-family: var(--font-tertiary);
    font-size: 60px;
    float: left;
}
